<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <form method="post">
    <p>
      <label for="email">Email</label>
      <input name="email" id="email" value="lukemorton.dev@gmail.com" />
    </p>

    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </p>

    <p>
      <button>Login</button>
    </p>
  </form>
</body>
</html>
